@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(/src/fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
  font-family: "Plus Jakarta Sans Bold";
  src: url(/src/fonts/PlusJakartaSans-Bold.ttf);
}

:root {
  --mainBlack: #000929;
  --mainPrimary: #7065f0;
  --mainSecondary: #100a55;
  --mainWhite: #f9fafb;
  --borderColor: #e0def7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Plus Jakarta Sans";
}

.header {
  background: #ebeaf8;
}

.header__container {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 96px;
  max-width: 1534px;
  margin: 0 auto;
  padding: 28px 46px 28px 48px;
}

.header__menu-img {
  margin-right: 48px;
}
.header__menu-list {
  display: flex;
}

.header__menu-item:not(:last-child) {
  margin-right: 48px;
}

.container {
  max-width: 1120px;

  position: relative;
  margin: 0 auto;
}

.intro {
  /* background: linear-gradient(#e66465, #9198e5); */
  /* background: linear-gradient(0deg, #ffffff, #e0def7); */
  background: linear-gradient(180deg, #e0def7 0%, rgba(224, 222, 247, 0) 100%);
}

.header__btns-list {
  display: flex;
  margin-left: auto;
  column-gap: 16px;
}

.header__btns--desable {
  cursor: pointer;
  background: none;
  border-radius: 8px;
  font-weight: "Plus Jakarta Sans Bold";
  font-weight: bold;
  padding: 12px 24px;
  border: 1px solid var(--borderColor);
}

.header__btns--active {
  border-radius: 8px;
  font-weight: "Plus Jakarta Sans Bold";
  font-weight: bold;
  padding: 12px 24px;
  color: var(--mainWhite);
  border: none;
  background: #7065f0;
  cursor: pointer;
}

/* .header__btns--desable:hover,
.header__btns--active:hover {
  box-shadow: 5px 5px 5px #919dca;
} */
/* .hero__wrapper {
  background: -webkit-linear-gradient(
    0deg,
    #ffffff,
    #e0def7
  ); /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(
    0deg,
    #ffffff,
    #e0def7 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.header__hero-title-title {
  font-size: 64px;
  font-weight: bold;
  padding-bottom: 32px;
}

.header__hero {
}

.header__hero-title-title {
  width: 544px;
}

.main-image {
  position: absolute;
  top: -20px;
  left: 535.2px;
  max-width: 727px;
  width: 100%;
  height: 886px;
}

.header__hero-title-subtitle {
  margin-bottom: 260px;
}

.header__hero {
  padding-top: 88px;
  padding-bottom: 48px;
}

.blo {
  display: flex;
}

.block {
  width: 159px;
  height: 152px;

  margin-right: 80px;
}

.block2 {
  width: 241px;
  height: 152px;
}

.blo span {
  font-weight: "Plus Jakarta Sans Bold";
  color: #7065f0;
  font-size: 24px;
}

.block-img {
  padding-bottom: 24px;
}

.block-p {
  padding-bottom: 4px;
}

.properties {
  padding: 100px 0;
}

.properties__features-main {
  max-width: 416px;
  height: 500px;
  border: 1.5px solid #e0def7;
  border-radius: 8px;
  background: #f7f7fd;
  position: relative;
  margin-right: 64px;
}

.properties__features-main-text h4 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 16px;

  /* padding: 40px 67px 312px 40px; */
}

.properties__features {
  display: flex;
}

.propertis__features-columns {
  columns: 2;
  column-gap: 24px;
}

.mb {
  margin-bottom: 64px;
}
.propertis__features-columns-item h4 {
  padding-top: 50px;
  padding-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
}

.properties__features-link:hover {
  box-shadow: 5px 5px 5px #919dca;
}

.propertis__features-columns-item {
  width: 308px;
  height: 218px;
}

/* .properties__features-rows {
  border: 1px solid black;
  max-width: 640px;
  display: flex;
} */

/* .properties__features-item {
  width: 308px;
  height: 218px;
  border: 1px solid violet;
} */

/* .properties__features-item:not(:last-child) {
  margin-right: 24px;
} */
.properties__features-main-text {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 67px;
  color: #100a55;
}

.illustration {
  position: absolute;
  top: 244.3px;
  left: 55px;
  column-gap: 64px;
}

.properties__features-link {
  margin-top: 34px;
  background: #100a55;
  padding: 10px 16px;

  width: 159px;
  border-radius: 8px;
}

.properties__features-link-link {
  color: white;
  font-size: 14px;
  align-items: center;
}

img {
  display: block;
}

.propertis__features-columns-item p {
  color: #8b9098;
}

.section-heading__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
}

.section-heading__title-subtitle {
  color: #8b9098;
  margin-bottom: 72px;

  font-weight: 400;
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

.location {
  padding: 80px 0;
}

.location__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 72px;
}

.location__header-left-list {
  width: 377px;
  height: 64px;
  top: 250px;
  left: 160px;
  background: #f0effb;
  border: 1.5px solid #e0def7;
  gap: 10px;
  border-radius: 8px;
  padding: 8px;
  opacity: 0px;
  align-items: center;
  display: flex;
}

.location__header-left-item {
  padding: 11px 22px 11px 24px;
  width: 115px;
  border-radius: 6px;
  justify-content: center;
  display: flex;
  color: #100a55;
}

.location__header-left-item {
  width: 115px;
  border-radius: 6px;
  justify-content: center;
  display: flex;
  padding-left: 52px;
  cursor: pointer;
}

.active {
  color: #7065f0;
  background: #ffffff;
  border: 2px solid #e0def7;
}

input {
  background-image: url(/src/image/rent.svg);
}

.location__header-left-item:not(:last-child) {
  margin-right: 8px;
}

.location__header-right {
  position: relative;
}

.location__header-left-img {
  cursor: pointer;
  position: absolute;
  content: "";
  top: 20px;
  left: 19px;
  width: 24px;
  height: 24px;
  bottom: 23px;
  font-weight: 500;
  line-height: 24px;
}

.location {
  background: linear-gradient(180deg, #ffffff 0%, #f0effb 100%);
  height: 994px;
}

.location__header-right-text {
  font-size: 16px;
  padding: 20px 0;
  padding-left: 56px;
  width: 352px;
  height: 64px;
  border-radius: 8px;
  border: 2px solid #f0effb;
  background: #f7f7fd;
  font-weight: 500;
}

.rent::before {
  background-image: url(/src/image/rent.svg);
  position: absolute;
  left: 24px;
  content: "";
  width: 20px;
  height: 20px;
}

.rent {
  position: relative;
}
.buy {
  position: relative;
}

.buy::before {
  background-image: url(/src/image/buy.svg);
  position: absolute;
  left: 24px;
  content: "";
  width: 20px;
  height: 20px;
}
.sell {
  position: relative;
}

.sell::before {
  background-image: url(/src/image/sell.svg);
  position: absolute;
  left: 24px;
  content: "";
  width: 20px;
  height: 20px;
}

.location__header-right-text::before {
  background-image: url(/src/image/search.svg);
  position: absolute;
  left: 10px;
  content: "";
  width: 24px;
  height: 24px;
}

.location__list {
  display: flex;
  justify-content: space-between;
}

.location__list {
  position: relative;
}

li.location__list-item::before {
  background-size: cover;
  position: absolute;
  content: "";
  background-image: url(/src/image/popular.svg);
  background-repeat: no-repeat;
  /* left: -8px; */
  transform: translateX(-9.6%);
  top: 184px;
  width: 113px;
  height: 40px;
}

.location__list-item {
  border-radius: 9px;
  width: 354px;
  height: 424px;
  background: #ffffff;
  border: 1.5px solid #f0effb;
}

.location__list-text {
  padding: 32px 24px;
}

.location__list-text-price span {
  color: #7065f0;
  padding-right: 2px;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: -1px;
}

.location__list-text-price {
  height: 36px;
}

.location__list-text-price p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8b9098;

  font-weight: 400;
  line-height: 24px;
}

.location__list-text-price {
  display: flex;
}

.location__list-adress {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 50%;
}

.location__list-title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 4px;
  padding-bottom: 8px;

  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: left;
}

.location__list-adress {
  padding-bottom: 16px;
  border-bottom: 1.5px solid #f0effb;
}

.location__list-img {
  margin-right: 10px;
}

.location__list-it {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location__list-desc {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
  color: #8b9098;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.location__list-ititem {
  display: flex;
}

.location__list-text-price {
  display: flex;
  justify-content: space-between;
}

.location__list-circle {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1.5px solid #e8e6f9;
}

.location__list-circle::before {
  position: absolute;
  content: "";
  background-image: url(/src/image/like.svg);
  width: 24px;
  height: 24px;
  transform: translate(45%, 50%);
}

.location__link-btn {
  padding: 16px 32px;
  background: #100a55;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.location__list-btn-box {
  display: flex;
  margin-top: 72px;
  justify-content: center;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrap {
  max-width: 1438px;
  width: 100%;
  margin: 0 auto;
}

.intro {
  padding: 28px 0;
  background: #ebeaf8;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 48px;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 46px;
  max-width: 1440px;
  box-sizing: border-box;
}

.header__menu-list {
  display: flex;
  align-items: center;
}

.header__menu-item {
  list-style: none;
}

.header__menu-item:not(:last-child) {
  margin-right: 48px;
}

nav {
  flex-grow: 1;
}

.header__btns button {
  padding: 12px 24px;
  border-radius: 8px;
}
.header__btns--defeat,
.header__btns--active {
  font-family: "Plus Jakarta Sans Bold";
}

.header__btns--defeat {
  color: #000929;
  border: 1px solid #e0def7;
  background: #ebeaf8;
}

.header__btns--active {
  color: var(--mainWhite);
  margin-left: 16px;
  background: #7065f0;
  border: none;
}

.header__btns button:hover {
  box-shadow: 4px 5px 5px #9f9ea9;
}

.preview {
  max-width: 1150px;
  border: 1px solid rebeccapurple;
  margin: 0 auto;
  height: 900px;
} */
